@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700;900&family=Rubik+Spray+Paint&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

#fundo {
    z-index: -10000;
    width: 100%;
    height: 550%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.navbar,
.fixed-top,
.navbar-dark {
    background-color: black;
    font-size: 18px;
    width: 100%;
    min-width: 50px;
    min-height: 50px;
    height: 80px;
    line-height: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    font-weight: bold;
}

#navbarSupportedContent {
    font-size: 18px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.700);
    text-align: center;
}

.nav-link {
    color: white;
    text-shadow: blue 0.05em 0.05em 0.5em;
}

.logo {
    max-width: 75px !important;
    margin-left: 20px;
    color: white;
}

#welcome {
    margin-left: -20px;
    font-size: 18px;
    text-shadow: blue 0.05em 0.05em 0.5em;
    color: white;
}


#home-menu {
    color: white;
}

#home-menu:hover {
    text-decoration: underline;
    text-shadow: blue 0.5em 0.5em 0.5em;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.5s;
}

#services-menu {
    color: white;
}

#services-menu:hover {
    text-decoration: underline;
    text-shadow: blue 0.5em 0.5em 0.5em;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.5s;
}


#team-menu {
    color: white;
}

#team-menu:hover {
    text-decoration: underline;
    text-shadow: blue 0.5em 0.5em 0.5em;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.5s;
}

#cursos-menu {
    color: white;
}

#cursos-menu:hover {
    text-decoration: underline;
    text-shadow: blue 0.5em 0.5em 0.5em;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.5s;
}

#contact-menu {
    color: white;
}


#contact-menu:hover {
    text-decoration: underline;
    text-shadow: blue 0.5em 0.5em 0.5em;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.5s;
}


#logout {
    color: white;
    outline: none;
    text-decoration: none;
}

#logout:hover {
    text-decoration: underline;
    text-shadow: blue 0.5em 0.5em 0.5em;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.5s;
}


#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    max-height: 90vh;
}

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    text-shadow: blue 0.05em 0.05em 0.5em;
    font-size: 40px;
    line-height: 200px;
    font-weight: bold;
}

#mainSlider .carousel-caption p {
    text-shadow: blue 0.05em 0.05em 0.5em;
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
}

#mainSlider .carousel-inner {
    border: 3px solid black;
    border-radius: 20px;
}

.initial-text {
    line-height: 40px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: left;
    color: white;
}

.mentoria {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid black;
    height: auto;
    background-color: rgba(63, 63, 63, 0.900);
    border-radius: 20px;
    padding: 10px 40px;
    column-gap: 3rem;
}

.fotos {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    row-gap: 3rem;
    display: grid;
    justify-content: center;
    margin: auto;
    column-gap: 3rem;
    border: 2px white;
    box-shadow: 8px 10px 10px black;
    border-radius: 10px;
    height: auto;
    width: 100%;
    background: rgb(110, 110, 110);
    padding: 15px;
    border: 3px solid black;
}

.foto {
    width: 100%;
    height: auto;
    border: 10px double white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    transform: translateY(0px);
    transition: 0.3s linear all;
}

.foto:hover {
    transform: translateY(-9px);
    transition: 0.3s linear all;
    background-color: rgb(161, 161, 161);
    text-shadow: blue 0.05em 0.05em 0.5em;
}

#person {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.serviços {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    background-color: rgba(63, 63, 63, 0.900);
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px 10px;
    column-gap: 3rem;
}

.informativos {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    row-gap: 3rem;
    display: grid;
    justify-content: center;
    column-gap: 10rem;
    box-shadow: 8px 10px 10px black;
    border-radius: 10px;
    height: 20%;
    width: 100%;
    background: rgb(110, 110, 110);
    padding: 20px 20px;
    border: 5px solid black;
}

.banner {
    text-align: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 70px;
    padding: 15px;
    border: 10px double white;
    width: 400px;
    height: auto;
}

.banner:hover {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    cursor: pointer;
    box-shadow: 8px 10px 10px black;
}

.banner h4 {
    color: red;
    text-shadow: black 0.5em 0.5em 0.5em;
    font-weight: bold;
}

#banner-image {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
    border: 3px solid black;
}

.videos {
    padding: 20px;
    display: grid;
    flex-wrap: wrap;
}

.video {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    background-color: rgba(110, 110, 110);
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px 40px;
    display: flex;
}

#imagem-video {
    height: 250px;
    width: 70%;
    border-radius: 40px;
    border: 10px double black;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: auto auto;
    box-shadow: 8px 10px 10px black;
    transition: all 0.5s;
}

/* #imagem-video:hover {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    box-shadow: none;
    border-radius: 40px;
    border: 10px double white;
} */

#icon {
    font-size: 60px;
    color: white;
    position: absolute;
    margin: 120px 135px;
    cursor: pointer;
}

.video h1 {
    font-size: 50px;
    margin-left: 20px;
    text-align: center;
    margin: auto auto;
    padding: 50px;
    color: red;
    text-shadow: black 0.5em 0.5em 0.5em;
}

.video p {
    background-color: rgb(172, 172, 172);
    font-size: 15px;
    margin: auto auto;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    color: black;
    box-shadow: 8px 10px 10px 10px black;
    border-radius: 30px;
    text-shadow: white 0.5em 0.5em 0.5em;
}

.lista {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgba(110, 110, 110);
    padding: 40px 80px;
}

.playlist {
    margin: auto auto;
    background-color: rgb(172, 172, 172);
    border: 3px solid black;
    border-radius: 30px;
    transition: all 1s;
}

.playlist:hover {
    -webkit-transform: translateY(-20px);
    transform: scaleY(-20px);
    box-shadow: 8px 10px 10px 10px black;
}

.playlist h1 {
    color: red;
    text-shadow: white 0.5em 0.5em 0.5em;
    margin: auto auto;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.playlist p {
    color: red;
    text-shadow: white 0.5em 0.5em 0.5em;
    margin: auto auto;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#about-team {
    padding: 20px;
}

#about-services {
    padding: 20px;
}

#about-cursos {
    padding: 20px;
}

#about-contact {
    padding: 20px;
}

#about-contact h2 {
    text-align: center;
    text-shadow: white 0.5em 0.5em 0.5em;
    font-weight: bold;
    color: red;
    padding: 30px
}

#about-contact {
    margin: 10px 600px;
    text-align: center;
}

.container p {
    margin-left: 400px;
    color: white;
    margin-top: 50px;
}

.main-btn {
    letter-spacing: 2px;
    margin-top: 20px;
    padding: 5px;
    background-color: black;
    color: white;
}

#contact-form input {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 10px double white;
    text-align: center;
}

#contact-form textarea {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 10px double white;
    text-align: center;
}